
body {
	background-color: #3f3f3f;
	padding: 30em;
}


#############################################################################################################
# class 																									#
#############################################################################################################

.container {
	background-color: white;
	width: 80%;
	margin: 0em auto;
}


#############################################################################################################
# id 																									#
#############################################################################################################